<div
  style='background-color: #fb6f92; color: #fff; padding: 20px; text-align: center; font-size: 12px; border-top: 3px solid #ffc2d1;'
>
  <div style='margin-bottom: 10px;'>
    <a
      href='#'
      style='color: #ffc2d1; margin: 0 10px; text-decoration: none;'
    >Home</a>
    <a
      href='#'
      style='color: #ffc2d1; margin: 0 10px; text-decoration: none;'
    >About</a>
    <a
      href='#'
      style='color: #ffc2d1; margin: 0 10px; text-decoration: none;'
    >Contact</a>
  </div>
  <p style='margin: 0; color: #aaa;'>&copy; 2025 MyApp. All rights reserved.</p>
  <p style='margin: 5px 0 0; color: #ffc2d1; font-size: 10px;'>Designed with ♥
    for you</p>
</div>