<div
  style='background-color: #fb6f92; padding: 20px; text-align: center; border-bottom: 3px solid #ffc2d1;'
>
  <h1
    style='margin: 0; color: #ffc2d1; font-size: 28px; font-weight: bold;'
  >MyApp</h1>
  <p style='margin: 5px 0 0; color: #fff; font-size: 14px;'>Elevating Your
    Experience</p>
</div>